.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-hmenu {
  max-width: 875px;
  margin: 0 auto;
}

body {
  background: #F1F1F1;
}

.header {
  background-color: white;
}
.header__row {
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.header__row_logo a img {
  margin-right: 18px;
}
.header__row_text {
  width: 627px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__text_tel {
  text-align: center;
}
.header__text_tel p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.header__text_tel a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.header__text_time p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.header-menu {
  background: #FCEE02;
  border-top: 3px solid #000000;
  -webkit-box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.44);
          box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.44);
  padding: 23px 0px;
}
.header-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-menu__menu a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header-menu__menu a:hover {
  opacity: 0.7;
}

.mp {
  background-image: url("../img/mainbg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.mp__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mp__row_calling {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 80px;
  max-width: 621px;
  max-height: 302px;
  padding: 50px;
}
.mp__row_calling h3 {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 41px;
}
.mp__row_calling a {
  display: inline-block;
  background: #FCEE02;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 35px 132px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  border: 3px solid #FCEE02;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #000000;
  margin-bottom: 21px;
}
.mp__row_calling a:hover {
  background: white;
}
.mp__row_calling p {
  max-height: 43px;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ACA9A9;
}
.mp__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mp__content_title {
  margin-top: 140px;
}
.mp__content_title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mp__content_discription {
  margin-top: 50px;
}
.mp__content_discription p {
  max-width: 595px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mp__content_actions {
  max-width: 636px;
  margin-top: 65px;
  margin-bottom: 72px;
}
.mp__actions_text {
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
}
.mp__actions_text img {
  position: absolute;
  right: 15px;
  top: 15px;
}
.mp__actions_text p {
  margin-bottom: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.block {
  background: #FCEE02;
  padding: 3px 10px;
}

.bar__cards {
  z-index: 20;
  margin-top: -62px;
  padding: 52px 94px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bar__cards_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bar__card_text p {
  max-width: 300px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.services {
  margin-top: 55px;
}
.services__header_title h2 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.services__header_line {
  margin: 35px auto;
  width: 412.06px;
  border: 3px solid #000000;
  margin-bottom: 55px;
}
.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__cards_card-main {
  position: relative;
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 30px 55px 30px;
  padding: 25px;
}
.services__cards_card {
  position: relative;
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 30px 55px 30px;
  padding: 25px;
}
.services__cards_card-last {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 30px 55px 30px;
  padding: 25px;
}
.services__card-main_title {
  margin-top: 4px;
}
.services__card-main_title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.services__card-main_discription {
  margin-top: 11px;
}
.services__card-main_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.services__card-main_dopdiscription {
  margin-top: 35px;
}
.services__card-main_dopdiscription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BEBEBE;
}
.services__card_img {
  padding-top: 50px;
}
.services__card_title {
  margin-top: 15px;
}
.services__card_title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.services__card_discription {
  margin-top: 15px;
}
.services__card_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.services__card-last_discription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.services-card__price {
  position: absolute;
  top: 15px;
  left: 15px;
}
.services-card__price p {
  padding: 6px;
  background: #FCEE02;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.doptitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.features {
  background-color: white;
  padding: 77px 0px;
}
.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__card_title {
  margin-top: 15px;
}
.features__card_title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.features__card_discription {
  margin-top: 10px;
  max-width: 230px;
}
.features__card_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.process {
  margin: 55px 0px;
}
.process__card {
  margin: 50px auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 38px 101px;
  max-width: 918px;
}
.process__card h3 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.process__card p {
  margin-top: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.process__header_title h2 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.process__header_line {
  margin: 35px auto;
  width: 220px;
  border: 3px solid #000000;
  margin-bottom: 55px;
}
.process__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.process__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 324px;
}
.process__column_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.link {
  margin-top: 55px;
  height: 0px;
  width: 143px;
  border: 1px solid #BEBEBE;
}

.container-process {
  max-width: 1073px;
  margin: 0 auto;
}

.advantages {
  padding: 55px 0px;
  background-color: white;
}
.advantages__header_title h2 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.advantages__header_line {
  margin: 35px auto;
  width: 220px;
  border: 3px solid #000000;
  margin-bottom: 55px;
}
.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__card {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages__card_text {
  margin-left: 30px;
}
.advantages__text_title {
  margin-bottom: 10px;
}
.advantages__text_title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.advantages__text_discription {
  max-width: 550px;
}
.advantages__text_discription p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.reviews {
  padding: 40px 0px 110px 0px;
}
.reviews__header_title h2 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.reviews__header_line {
  margin: 35px auto;
  width: 100px;
  border: 3px solid #000000;
  margin-bottom: 55px;
}
.slider__card {
  margin: 10px auto;
  width: 990px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: 30px 50px;
  position: relative;
}
.slider__card_title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #000000;
}
.slider__card_reviev {
  margin-top: 24px;
}
.slider__card_reviev p {
  height: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.galone {
  top: 13px;
  left: 13px;
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #BEBEBE;
}

.galtwo {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #BEBEBE;
  bottom: -13px;
  right: 13px;
}

.footer {
  padding: 40px 0px 70px 0px;
  background: #000000;
  border-top: 10px solid #FCEE02;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__row_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__row_menu ul li {
  margin-bottom: 10px;
}
.footer__row_menu ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__row_menu ul li a:hover {
  opacity: 0.7;
}
.footer__row_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__time p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.footer__tel_button {
  padding: 11px 70px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-align: center;
  display: inline-block;
}
.footer__tel_button a {
  background: #FCEE02;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.footer__tel_phone {
  margin-top: 20px;
}
.footer__tel_phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__tel_phone a:hover {
  opacity: 0.7;
}

.btnyellow {
  padding: 11px 70px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  background: #FCEE02;
  border: 2px solid #FCEE02;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.btnyellow:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: black;
  color: white;
}

.btnyellowwhite {
  padding: 11px 70px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  background: #FCEE02;
  border: 3px solid #FCEE02;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.btnyellowwhite:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: white;
  color: black;
}